{% extends "base.html" %}
{% load static %}

{# -- タイトル -- #}
{% block title%}profile{% endblock %}

{# -- CSS -- #}
{% block extra_css %}
    <link href={% static 'css/accounts/profile.css' %} rel="stylesheet" media="all">
{% endblock %}

{# --メインコンテンツ --#}
{% block main %}
    <main>
        <div class="titleb">
        {{ profile_user }}のページ
        </div>
        {% if is_self %}
        <div id="management">
        <a href="{% url 'accounts:collaboration_request_list' username=user.username %}">共同研究申請処理</a><br>
        <a href="{% url 'research_projects:create_project' %}">プロジェクト作成</a>
        <form method="post" class="btn btn-secondary" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
        </div>

        {% else %}

        <div id="management">
        {% if profile_user.user_id in collaborator_list %}
        <span class="done">既に共同研究者です</span>
        {% elif profile_user.user_id in from_pending_collaborator_list %}
        <a href="{% url 'accounts:manage_collaboration_request' username=user.username %}">リクエストに応答</a>
        {% elif profile_user.user_id in to_pending_collaborator_list %}
        <span class="done">現在申請中</span>
        {% else %}
        <form method="post" class="request" action="{% url 'accounts:send_collaboration_request' to_user_id=profile_user.user_id %}">
            {% csrf_token %}
            <button type="submit">共同研究申請</button>
        </form>
        {% endif %}
        </div>
        {% endif %}


        <div class="titlef">
            参加プロジェクト一覧
        </div>
        <div id="project_list">

        {% for project in page_obj %}
        <div class="project">
        {% if project.is_public or user in project.members.all %}
        <a href="{% url 'research_projects:project_detail' project.project_id %}">
            {{ project.name }}  short id:{{ project.short_project_id }} <br>
            {{ project.description }}
        </a>
        {% else %}
        {{ project.name }} {{ project.short_project_id }} {{ project.description }}
        {% endif %}
        </div>

        {% endfor %}

        <div id="pagination">
            {% if page_obj.paginator.num_pages < 10 %}

            {% for i in page_obj.paginator.page_range %}
            <div class="page_num">
                {% if i == page_obj.number %}
                <span class="current_page">{{ i }}</span>
                {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            </div>
            {% endfor %}

            {% elif page_obj.number < 4 %}
            {% for i in numbers %}
            <div class="page_num">
                {% if page_obj.number == i %}
                <span class="current_page">{{ i }}</span>
                {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            </div>
            {% endfor %}
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><a href="?page={{ page_obj.paginator.num_pages|add:"-1" }}">{{ page_obj.paginator.num_pages|add:"-1" }}</a></div>
            <div class="page_num"><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></div>
            
            {% elif page_obj.number > page_obj.paginator.num_pages|add:"-3" %}
            <div class="page_num"><a href="?page=1">1</a></div>
            <div class="page_num"><a href="?page=2">2</a></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            {% for i in numbers %}
            <div class="page_num">
                {% with page_obj.paginator.num_pages|add:-5|add:i as calculated_page %}
                {% if calculated_page == page_obj.number %}
                <span class="current_page">{{ page_obj.paginator.num_pages|add:-5 |add:i }}</span>
                {% else %}
                <a href="?page={{ page_obj.paginator.num_pages|add:-5 |add:i }}">{{ page_obj.paginator.num_pages|add:"-5" |add:i }}</a>
                {% endif %}
                {% endwith %}
            </div>
            {% endfor %}

            {% else %}
            <div class="page_num"><a href="?page=1">1</a></div>
            <div class="page_num"><a href="?page=2">2</a></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></div>
            <div class="page_num"><span class="current_page">{{ page_obj.number }}</span></div>
            <div class="page_num"><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><span class="dum">・</span></div>
            <div class="page_num"><a href="?page={{ page_obj.paginator.num_pages|add:"-1" }}">{{ page_obj.paginator.num_pages|add:"-1" }}</a></div>
            <div class="page_num"><a href="?page={{ page_obj.paginator.num_pages}}">{{ page_obj.paginator.num_pages }}</a></div>
            {% endif %}
        </div>
        </div>
    </main>
{% endblock %}

