{% load static %}
<!DOCTYPE html>    
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" media="all">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% block top_button %}
        <div id="back_to_top">
            <a href="#" id="top_button"><div id="btp_text">↑</div></a>
        </div>
        {% endblock %}
        
        {% block header %}
        <header>
            <div class="inner">
                <h1><a href="{% url 'top_page' %}">文献・プロジェクト管理</a></h1>
                ヘッダー領域<br>
                <div id="top_right">
                    <div class="button">
                        {% if user.is_authenticated %}
                        <span class="now_login">ログイン中</span>
                        {% else %}
                        <a href="{% url 'accounts:login' %}">ログイン</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        {% endblock %}
        {% block menu_bar %}
        <nav id="menu_bar">
            <ul class="inner clearfix">
                <li><a href="{% url 'top_page' %}">TOPページ</a></li>
                <li><a href="{% url 'research_projects:project_list' %}">公開プロジェクト一覧</a></li>
                <li><a href="{% url 'papers:paper_list' %}">文献一覧</a></li>
                <li>
                {% if user.is_authenticated %}
                <a href="{% url 'accounts:profile' profile_username=user.username %}">
                {% else %}
                <a href="{% url 'accounts:login' %}">
                {% endif %}
                マイページ</a></li>
            </ul>
        </nav>
        {% endblock %}
            
        <div class="contents">
            {% block side_menu %}
            <nav id="side_menu">
                <ul class="main_menu">
                    <li class="heading"><a href="{% url 'top_page' %}">TOPページ</a></li>
                    <li class="heading"><a href="#l">マイプロジェクト</a></li>
                    {% if user.is_authenticated %}
                        {% for project in latest_projects %}
                        <li class="menu_element"><a href="#">{{project.name}}</a></li>
                        {% endfor %}
                    {% endif %}
                    <li class="heading"><a href="{% url 'research_projects:project_list' %}">公開プロジェクト一覧</a></li>
                    <li class="heading"><a href="{% url 'accounts:user_search' %}">ユーザー検索</a></li>
                    <li class="heading"><a href="{% url 'papers:paper_list' %}">文献一覧</a></li>
                    <li class="heading">
                        {% if user.is_authenticated %}
                        <a href="{% url 'accounts:profile' profile_username=user.username %}">
                        {% else %}    
                        <a href="{% url 'accounts:login' %}">
                        {% endif %}
                        マイページ</a></li>
                </ul>
            </nav>
            {% endblock %}
            <div id="main">
                {% block main %}
                メイン文
                {% endblock %}
            </div>
        </div>
        {% block footer %}
        <footer>
            <div class="inner">
                フッター領域
            </div>
        </footer>
        {% endblock %}
        {% block information%}
        <div id="information" class="inner">
            info
        </div>
        {% endblock %}

    </body>
</html>     