{% load static %}
<!DOCTYPE html>    
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" media="all">
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% block top_button %}
        <div id="back_to_top">
            <a href="#" id="top_button"><div id="btp_text">↑</div></a>
        </div>
        {% endblock %}
        
        {% block header %}
        <header>
            <div class="inner">
                <h1><a href="{% url 'accounts:index' %}">文献・プロジェクト管理</a></h1>
                ヘッダー領域<br>
            </div>
        </header>

        {% endblock %}
        {% block menu_bar %}
        <nav id="menu_bar">
            <ul class="inner clearfix">
                <li><a href="{% url 'accounts:index' %}">TOPページ</a></li>
                <li><a href="">hogehoge</a></li>
                <li><a href="">hugahuga</a></li>
                <li><a href="">piyopiyo</a></li>
            </ul>
        </nav>
        {% endblock %}
            
        <div class="contents">
            {% block side_menu %}
            <nav id="side_menu">
                <ul class="main_menu">
                    <li class="heading"><a href="{% url 'accounts:index' %}">TOPページ</a></li>
                    <li class="heading"><a href="#l">hoge</a></li>
                    <li class="menu_element"><a href="#">hoge</a></li>
                    <li class="menu_element"><a href="#">hoge</a></li>
                    <li class="menu_element"><a href="#">hoge</a></li>
                    <li class="menu_element"><a href="#">hoge</a></li>
                    <li class="heading"><a href="">hoge</a></li>
                    <li class="menu_element"><a href="#">hoge</a></li>
                    <li class="menu_element"><a href="#">a</a></li>
                    <li class="heading"><a href="enquiry.html">hoge</a></li>
                    <li class="heading"><a href="manage.html">hoge</a></li>
                </ul>
            </nav>
            {% endblock %}
            <div class="main">
                {% block main %}
                メイン文
                {% endblock %}
            </div>
        </div>
        {% block footer %}
        <footer>
            <div class="inner">
                フッター領域
            </div>
        </footer>
        {% endblock %}
        {% block information%}
        <div id="information" class="inner">
            Twitter:<br>
            Mail:
        </div>
        {% endblock %}

    </body>
</html>     